################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/NoEndlessRounds
/NoEndlessRounds/bin/Debug
/NoEndlessRounds/obj/Debug
